<!DOCTYPE html>
<!-- <html> -->
<head>
  <title>Greek food</title>
  <style>
    body {
      text-align: center;
      color: black;
      font-family: helvetica;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
    }
    p {
      font-size: 22px;
    }
  <!-- </style> -->
</head>
<body>
<header>
  <!---<img src="insert image here">-->
  <h1>Greek food expert</h1> 
  <h2>We will help to match best greek dishes with your food preferences</h2>
</header>
    <!--- boxes to pick food preference -->
  <ol>
    <li>Ordered lists (&lt;ol&gt;) - displays a numbered list</li>
    <li>Unordered lists (&lt;ul&gt;) - displays a list of bullet points</li>
  </ol>
  <ul>
    <li>An opening list tag</li>
    <li>Many list items (&lt;li&gt;)</li>
    <li>A closing list tags</li>
  </ul>
    <h2>Tables</h2>
    <table class='table'>
    <tr>
      <th>Name</th>
      <th>Salads</th>
    </tr>
    <tr>
      <td>Mains</td>
      <td>Deserts</td>
    </tr>
    <tr>
      <td>Drinks</td>
      <td>Soups</td>
    </tr>
  
<p><b> {{foodimages}} </b>  </p>

  </table>
</body>
